<div>

  <h3>New message</h3>
  <div>
    <label>subject:
      <input [(ngModel)]="newMsg.subject" placeholder="subject" />
    </label>
  </div>
  <div>
    <label>body:
      <input [(ngModel)]="newMsg.body" placeholder="body" />
    </label>
  <div>
  <button (click)="onclickAdd()">Add</button>

  <h3>List of messages</h3>
  <ul>
    <li *ngFor="let msg of msgs">
      {{msg.subject}}
    </li>
  </ul>
  <div>
  </div>
</div>

<!-- <div>
  <h3>New message</h3>
  <label>subject:
    <input [(ngModel)]="msg.subject" placeholder="subject" />
  </label>
  <h3>List of messages</h3>
  <div>{{msg.subject}}</div>
  <div>
  </div>
</div> -->
